// background
$link-color: rgb(74, 85, 108);
$text-color: #FFFFFF;
$close-color: #FFFFFF;
$color-live-title: rgb(51, 52, 97);
$proven: rgb(74, 85, 108);
$guide-back: rgb(32, 173, 150);
$menu-back: #292D32;
$transition: 0.5s all;
$gamburgerTransition: 0.5s all;

// font-size
$font-size12: 12px;
$font-size13: 13px;
$font-size14: 14px;
$font-size15: 15px;
$font-size16: 16px;
$font-size18: 18px;
$font-size21: 21px;
$font-size22: 22px;
$font-size24: 24px;
$font-size25: 25px;
$font-size30: 30px;
$font-size43: 43px;
$font-size48: 48px;
$font-size72: 72px;
// font-weight
$font-weight400: 400;
$font-weight600: 600;
$font-weight700: 700;
$font-weight800: 800;
$white: #FFFFFF;
$bg-main-button: rgb(11, 124, 106);
$bg-main-button-active: rgb(5, 57, 48);
$live-section-bg: rgb(250, 248, 246);
$hover: #CCCCCC;
$active: #555555;